html body{font-size: 14px;}
#container{width:500px;margin:0 auto;}
#error{color:red;font-weight:bold;}
#frm{padding:10px 15px;
	background:#FFC8C8;
	border:1px solid #818181;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;}
#footer{text-align:center;font-size:11px;margin-top:35px;clear:both;}
.spacer{margin-top:30px;}
.navbar-default .navbar-brand{color:#fff;}
.navbarmain{background:#2C3E50;font-size: 2em;}
.navbar a:focus{outline: 0;}
.navbar a:hover{color:#fff;}
.navbar-brand{text-transform: uppercase;}