html body{font-size: 14px;}
#container{width:500px;margin:0 auto;}
#error{color:red;font-weight:bold;}
#frm{padding:10px 15px;
	background:#FFC8C8;
	border:1px solid #818181;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;}
#footer{text-align:center;font-size:11px;margin-top:35px;clear:both;}
.spacer{margin-top:30px;}
.navbar-default .navbar-brand{color:#fff;}
.navbar-brand a:hover{color:#18BC9C;}
.navbarmain{background:#2C3E50;font-size: 2em;}
.navbar a:focus{outline: 0;color:#18BC9C;}
.navbar-brand a:focus{color:#18BC9C;}
.navbar-brand{text-transform: uppercase;}

hr.star-primary{
	font-family:'Glyphicons Halflings';
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-primary:before{content:"\e005";}
hr.star-light:after,
hr.star-primary:after{
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}
hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}
.img-centered {
    margin: 0 auto;
}
